body{
  background-color: #3BB77E;
  background-color: #F74B81;
  background-color: #67BCEE;
  background-color: #F59758;
  background-color: #BCE3C9;
  background-color: #DEF9EC;
  background-color: #ADADAD;
  background-color: #F4F6FA;
}